body
{
  color: rgb(78, 0, 65);
  background: #09053f;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(255, 255, 255);
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_emotion_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.hand_emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
